.modalOverlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: black;
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 48px;
}

.top span {
  font-size: x-large;
}

textarea {
  width: 100%;
}

.subButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 16px;
}

.subButton button {
  padding: 4px 16px;
  border: none;
  outline: none;
  background-color: var(--color-bgc);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.subButton button:hover {
  background-color: var(--color-secondary);

}