.sidebar {
  min-width: 180px;
  max-width: 180px;
  min-height: 100vh;
  position: relative;
  transition: transform 0.3s ease-in-out;
  background: var(--color-white);
}

.sidebarTop {
  background-color: var(--color-bgc);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebarTop > img {
  height: 25px;
  width: 25px;
}

.pastTag {
  display: inline-block;
  padding: 4px 8px;
  background-color: var(--color-bgc);
  margin: 0 24px;
  margin-top: 8px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.chatHistory {
  overflow-y: auto;
  max-height: calc(100vh - 200px); /* Adjust this value as needed */
}

.otherChats {
  padding: 6px 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 4px 8px;
  width: 80%;
  display: inline-block;
  border-bottom: 2px solid var(--color-primary);
  text-align: center;
}

.otherChats:hover {
  transform: translateY(-4px);
  color: var(--color-primary);
}

.closeButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-primary);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.menuicon {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 20px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.menuicon:hover {
  transform: scale(1.2);
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .menuicon {
    display: block;
  }

  .closeButton {
    display: block;
  }
}
