.sidebar {
    width: 200px;
    min-height: 100vh;
}

.sidebarTop {
    background-color: var(--color-bgc);
    padding: 4px;
}

.pastTag {
    display: inline-block;
    padding: 4px 8px;
    background-color: var(--color-bgc);
    margin: 0 24px;
    margin-top: 8px;
    border-radius: 10px;
}